.homepage{
    background-color: #F7DD6E;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.top-text{
    position:relative;
    top:10vh;
}
.btn{
    margin-top: 1%;
    margin-bottom: 2%;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.homepage-text{
    font-family: 'Open Sans', sans-serif;
    font-size:calc(1rem + 0.390625vw);
    position: relative;
    top:10vh;
    font-weight: 400;
    padding-left: 18px;
}
.button-text{
    font-family: 'Open Sans', sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:2vh;
    font-weight: bold;
    font-size: calc(0.7rem + 0.390625vw);
    width: 40%;
    padding:2%;
    font-weight: 300;
    text-align: center;
    justify-content: center;
    background-color: #6485E2;
}

@media screen and (min-width:300px) and (max-width:540px){
    .homepage{
        background-color: #F7DD6E;
        height: 100vh;
        width: 100vw;
    }
    .top-text{
        top:2vh;
        font-size: 24px !important;
        padding-left:2% !important;
        text-align: center;
    }
    .button-text{
        font-weight: normal;
    }
    .btn{
        position: relative;
        top:-2vh;
        width: 80%;
        left:6%;
    }
    .homepage-text{
        font-size: calc(0.9rem + 0.390625vw);
        top:2vh;
        padding-right:3%;
        text-align: left;
    }
    .pad-left{
        padding-left: 5%;
    }
    .col{
        flex: none;
        background-color: #F7DD6E;
    }
    .home-illus{
        width: 100% !important;
        height: 100%!important;
        top:5% !important;
    }

}

@media screen and (min-width:700px) and (max-width:1000px){
    
    .homepage{
        background-color: #F7DD6E;
        height: 100vh;
        width: 100vw;
    }
    .top-text{
        top:10vh;
        font-size: calc(2rem + 0.390625vw) !important;
        text-align: center !important;
        padding-left: 12% !important;
    }
    .btn{
        position: relative;
        left:30% !important;
        right: auto;
        top:15vh;


    }
    .button-text{
        font-weight: bold;
    }
    .homepage-text{
        font-size: calc(0.9rem + 0.390625vw);
        top:20vh;
        padding-right:3%;
        text-align: center;
        padding-left: 10% !important;
    }
    .col{
        flex: none;
        width: 90vw;
        background-color: #F7DD6E;
    }
    .home-illus{
        width: 90% !important;
        height: 90%!important;
        top:20% !important;
        left: 10%!important;;
    }
}