.heading {
    position: relative;
    top: 6vh;
    align-items: center;
    font-size: 2.0rem;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bolder;

}

.maindiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #F7DD6E;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}

.tts-heading {
    font-size: 2.0rem;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bolder;
    margin-top: 10vh;
    text-align: center;
    position: relative;
    left:-1.5%;


}

.form-control1 {
    display: block;
    position: relative;
    height: 38vh;
    top: -7vh;
    width: 50vw;
    border: 0.5px solid;
    padding: 2%;
}


@import url(http://fonts.googleapis.com/earlyaccess/notonastaliqurdudraft.css);

textarea {
    font-family: 'Noto Nastaliq Urdu Draft', serif;
    font-size: 28px;
    line-height: normal;
    position: relative;
    left:-1%;
}

textarea::placeholder {
    position: relative;
    text-align: right;
    font-family: 'Noto Nastaliq Urdu Draft', serif;
    font-size: 28px;
}

.rounded1 {
    border: transparent;
    border-radius: 0.5rem;
    text-align: right;
}

.charcount-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.charcount {
    /* position: relative;
    background: transparent;
    padding: 40px;
    border-radius: 10px; */
    /* width: 50%; */
    /* margin: 40px auto; */
    /* right: 14vw; */
    font-weight: bold;
    position: relative;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 10pt;
    color: rgb(0, 0, 0);
    text-align: left;
    width: 25%;
    top: -7vh;
}



.charcount::after {
    /* content: attr(data-charcount) "/10000 Characters"; */
    font-size: 10pt;
    color: rgb(0, 0, 0);
}

.tts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}

.bottom-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.btn-synth {
    margin-top: 1%;
    margin-bottom: 10%;
    position: absolute;
    text-align: center;
}

.btn.synthesizer {
    padding: 1.5% 6% 1.5% 6%;
    display: block;
    position: relative;
    left:-3%;
}

@media screen and (min-width:300px) and (max-width:540px) {
    .tts-heading{
        margin-top: 5vh;
        left:0%;
    }
    textarea {
        font-family: 'Noto Nastaliq Urdu Draft', serif;
        font-size: 20px;
        line-height: normal;
        outline: transparent;
        left:0%;
    }
    textarea::placeholder {
        position: relative;
        text-align: right;
        font-family: 'Noto Nastaliq Urdu Draft', serif;
        font-size: 16px;
        top:1.5vh;
    }
    .rounded1 {
        border: transparent;
        border-radius: 0.5rem;
        text-align: right;
    }
    .btn.synthesizer{
        top:5%;
        left:10%;
        font-size: 14px; 
    }
    .maindiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: #F7DD6E;
        height: 100%;
    
    }
    .tts-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-top: 10vh;
        width: 342px;
        margin-left: 24px;
        margin-right: 24px;
    }

    .form-control1 {
        display: block;
        position: relative;
        height: 550px;
        top: -7vh;
        width: 100%;
        padding: 2%;
    }

    .charcount {
        /* position: relative;
        background: transparent;
        padding: 40px;
        border-radius: 10px; */
        /* width: 50%; */
        /* margin: 40px auto; */
        /* right: 14vw; */
        font-weight: bold;
        /* margin-left: 152px; */
        font-family: "Montserrat Alternates", sans-serif;
        font-size: 8pt;
        color: rgb(0, 0, 0);
        text-align: left;
        margin-left: 5px;
        width: 50%;
        top: -1vh;
    }

    .bottom-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: -12%;
    }
}