.heading{
    position: relative;
    top: 6vh;
    align-items: center;
    font-size: 2.0rem;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bolder;

}
.form-control1{
    display: block;
    position: relative;
    height:38vh;
    top: -7vh;
    width: 50vw;
    border: 0.5px solid;
    padding:2%;
}
.maindiv{
    background-color: #F8D66E;
    height: 92vh;
}
@import url(http://fonts.googleapis.com/earlyaccess/notonastaliqurdudraft.css);
textarea{
    font-family: 'Noto Nastaliq Urdu Draft', serif ;
}

textarea::placeholder{
    position: relative;
    text-align: right;
    font-family: 'Noto Nastaliq Urdu Draft', serif;
}
.rounded1{
    border-radius: 1rem;
    text-align: right;
}

.charcount{
    position: relative;
    background: transparent;
    padding: 40px;
    border-radius: 10px;
    width: 50%;
    /* margin: 40px auto; */
    right:14vw;
    font-weight: bold;
    top:46vh;
    margin-left: 152px;
}


.charcount::after{
    content: attr(data-charcount) "/10000 Characters";
    position: relative;
    font-size: 10pt;
    color: rgb(0, 0, 0);
}