body,
html {
  /* margin: 0; */
  /* height: 100%; */
  /* overflow-y: hidden; */
  background-color: #fff;
}

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */
}

a:hover {
  color: #4ac890;
}

/* Navbar styling */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.heading-homepage{
  display:inline-block;
  position: fixed;
  top:3vh;
  left:45%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size:36px;
}
.logo {
  position:fixed;
  top: 3vh;
  left:15vh;
}
.search-icon{
  position: fixed;
  right:15vh;
  top:3vh;
}
.navbar{
  display:flex;
  text-align: center;
  display: inline-block;
  position:fixed;
  height: 10vh;
  width:100%;
}
.footer-styling {
  box-shadow: 0 4px 10px rgb(0 0 0 / 30%);
}

/* .navbar-styling {
  background-color: #4ac890;
  box-shadow: 0 4px 10px rgb(0 0 0 / 30%);
} */

.bg-yellow {
  background-color: #ffd459;
}

.bg-green {
  background-color: #4ac890 !important;
}

.pad-left {
  padding-left: 12%;
}

.pad-left-14 {
  padding-left: 14%;
}

.mt-top-10 {
  margin-top: 10%;
}

.row {
  --bs-gutter-x: 0;
}

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap");

.top-text {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  padding-left: 0%;
}

.make-bold {
  font-weight: 700;
}

.change-text {
  font-family: "Montserrat Alternates", sans-serif;
}

.text-gray {
  color: #676464;
}

.heading-text {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  margin-top: 2%;
}

.sub-heading-text {
  font-family: "Montserrat Alternates";
  font-size: 16px;
  font-weight: 300;
  
}

.home-illus {
  background-color: #ffd459;
  width:90%;
  height: 90%;
  position: relative;
  top:10vh;
  background: transparent;
}

.home-icons {
  height: 70%;
  margin-left: 11%;
}

.home-text-margin-l {
  margin-left: 28%;
}

.height-100 {
  height: 100vh;
}

.width-100 {
  width: 100vh;
}

.icon-margin {
  margin-left: -5rem;
  margin-top: 0.5rem;
}

.library-search {
  background-color: #ffd459;
  height: 12vh;
  justify-content: center;
}

.main {
  width: 50%;
}

/* Bootstrap 4 text input with search icon */

.has-search .form-control {
  padding-left: 2.375rem;
}

.rounded {
  border-radius: 2rem !important;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.story-heading {
  position: absolute;
  width: 879px;
  height: 78px;
  left: 783px;
  top: 259px;

  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 78px;
}

@import url("https://fonts.googleapis.com/css?family=Noto+Nastaliq+Urdu");

.urdu-text {
  font-family: "Noto Nastaliq Urdu", serif;
  text-align: right;
  font-size: xx-large;
  margin-bottom: auto;
  line-height: 270%;
}

.story-title {
  font-family: "Noto Nastaliq Urdu", serif;
  text-align: right;
  font-size: xxx-large;
}

.play-button {
  position: absolute;
  width: 300px;
  height: 112.5px;
  left: 271px;
  top: 762px;

  background: #4ac890;
  border-radius: 101px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.text-box {
  width: 75%;
  height: 55%;
  border-radius: 1rem !important;
  background-color: #d8d8d8;
  border: #525252;
  border-style: solid;
  border-width: medium;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  direction: rtl;
}



.m-left-mobile {
  margin-left: 19%;
}

.m-left-mobile2 {
  margin-left: 22%;
}

@media screen and (min-width: 480px) {
  .text-box {
    width: 55%;
  }

  .top-text {
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    padding-left: 12%;
  }

  .home-icons {
    height: 40%;
    margin-top: -1.5rem;
  }

  .home-text-margin-l {
    margin-left: 0%;
  }

  .m-left-mobile {
    margin-left: 0%;
  }

  .m-left-mobile2 {
    margin-left: 0%;
  }
}

.player-bg {
  background-image: url(../../assets/images/player-bg2.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

audio {
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(15%);
}

.wrapper {
  /* max-height: 120px; */
  /* border: 1px solid #ddd; */
  display: flex;
  overflow-x: auto;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper .item {
  margin-right: 2rem;
}

.card-image {
  width: 12rem;
  height: 8rem;
}

.player-attributes {
  width: 40%;
}

/*Scroll Bar classes (works for chromium based browsers only)*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  height: 5px;
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(119, 119, 119);
}

.tippy-button {
  background: none;
  color: inherit;
  border: none;
  padding: 1;
  font-weight: bold;
  cursor: pointer;
  outline: inherit;
}

.popup-content {
  background: #bde2d1;
  box-shadow: black;
  width: fit-content;
  border-radius: 10px;
  padding: 10px 10px;
  flex-flow: column;
  /* justify-content: space-around;
  flex-wrap: wrap; */
  border: 5px salmon solid;
  align-items: center;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);

}

.popup-image {
  font-family: "Noto Nastaliq Urdu", serif;
  font-weight: bolder;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 300;
  height: 300;
}

.popup-button {
  font-family: "Noto Nastaliq Urdu", serif;
  font-weight: bolder;
  background: none;
  color: inherit;
  border: none;
  text-decoration: underline;
}

.bottom-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  width: 100%;
}

.audio-set {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

/*Scroll Bar classes (works for chromium based browsers only)*/


/* .text-box {
  width: 75%;
  height: 55%;
  border-radius: 1rem !important;
  background-color: #d8d8d8;
  border: #525252;
  border-style: solid;
  border-width: medium;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  direction: rtl;
} */

.upload-text-box {
  width: 55%;
  height: 100%;
  border-radius: 1rem !important;
  background-color: #d8d8d8;
  border: #525252;
  border-style: solid;
  border-width: medium;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  direction: rtl;
}

.upload-text-box-check {
  width: 55%;
  height: 100%;
  border-radius: 1rem !important;
  background-color: #d8d8d8;
  border: #525252;
  border-style: solid;
  border-width: medium;
  text-align: right;
}

.urdu-text-check {
  font-family: "Noto Nastaliq Urdu", serif;
  text-align: right;
  font-size: 1.7rem;
  margin-bottom: auto;
  line-height: 190%;
}

.upload-text-input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #d8d8d8;
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 1rem;
  text-align: center;

}


.upload-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.selectfile-button {
  background: #4ac890;
  color: inherit;
  border: none;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  outline: inherit;
  border-radius: 5px;
  font-family: "Montserrat Alternates", sans-serif;
  text-align: center;
}

.sst-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  height: 100%;
}

.ml-2 {
  margin-left: 2rem;
}

.footer {
  position: absolute;
  background-color: transparent;
  width: 100%;
}

.textfooter {
  padding-left: 4vh;
  font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.listen {
  background-color: #4ac890;
  color: #ffff;
  padding: 12px;
  font: 'Open Sans'
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.edits {
  min-width: 200px;
  height:max-content;
  border-radius: 20px;
  background: #fdfbfb;
  margin-right: 6px;
  flex-wrap: wrap;
  padding-top: 2%;
}

.edits:hover {
  background-color: hsla(125, 66%, 83%, 0.725);
  transition: background-color 500ms;
}

.subject-heading {
  min-width: 300px;
  overflow: hidden;
  white-space: nowrap;

}

.logo-image {
  margin-left: 40px;
}

.-fullwidth {
  width: 100%;
  margin-right: 30px;

}

.story-subheadings {
  font-family: sans-serif;
  font-weight: 200;
  font-size: 15px;
  text-align: left;
  line-height: 2px;
  margin-left: 7%;
}

.search-group {
  margin-right: 27%;
  width: 40%;
}

.row-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.image-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}