.navbar-custom{
    height: 80px;
    background-color:#F8D66E;
    margin-top: 0%;
    position: fixed;
    

}
.inner-div{
    height: 30px;
    box-shadow: inset;
    border-bottom: 3px;
}


@media screen and (min-width:300px) and (max-width:500px){
    .logo{
        display: flex;
        position: fixed;
        top:3vh;
        left:40vw;

    }
    .search-icon{
        visibility: hidden;
    }
    .navbar-header{
        visibility: hidden;
    }
}