.navbar-custom{
    height: 80px;
    background-color:#F7DD6E;
    margin-top: 0%;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    min-height: 10%;
}
.inner-div{
    height: 30px;
    box-shadow: inset;
    border-bottom: 3px;
}


@media screen and (min-width:300px) and (max-width:500px){
    .logo{
        display: flex;
        position: relative;
        top:-0.5vh;
        left:19vw;

    }
    .search-icon{
        visibility: hidden;
    }
    .navbar-header{
        visibility: hidden;
    }
}

@media screen and (min-width:700px) and (max-width:1000px){
    .navbar{
        padding-bottom:12%;
    }
    .heading-homepage{
        left:40%;
    }
    .logo{
        left:10%;
    }
    .search-icon{
        right:10%;
    }
}